 /* Set the size of the div element that contains the map */
#map {
  height: 650px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}
.container-margin {
  margin-top: 0;
}
.row-table {
  background: #f8f9fa;
}
.col-table {
  border: solid 1px #6c757d;
  padding: 10px;
}
.row-heading {
  font-weight: bold;
}
.map-legend {
  z-index: 999;
  right: 7%;
  background-color: white;
}
#legend {
  font-size: 11px;
}
#legend-gradient {
  width: 325px;
  border: solid 1px #6c757d;
}
#gradient-laa,
#gradient-wifi,
#gradient-primary,
#gradient-secondary {
  height: 18px;
}
.legend-pin svg {
  width: 32px;
}
pre {
  background-color: #eee;
  padding: 0 20px 0 20px;
}
.modal-lg {
  max-width: 800px;
}
.modal-par {
  display: block;
}